.Cart-is-fixed {
  position: fixed
}

.Cart-width-available {
  width: 25%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}