.Cart-is-fixed {
  position: fixed;
}

.Cart-width-available {
  width: inherit;
}

.CartItem-grid-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 30px 64px 1fr;
}

.CartItem-remove-button {
  grid-row: 1 / 3;
  align-self: center;
  text-align: center;
}

.CartItem-thumbnail {
  grid-row: 1 / 3;
  align-self: center;
}

.Cart-object-fit {
  object-fit: contain;
}